.buttonGroup {
  padding: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: row-reverse;
}

.buttonGroup + .buttonGroup {
  padding-top: 0;
}

.center {
  justify-content: center;
}

button.button {
  flex-grow: 1;
  max-width: 18rem;
}

@media only screen and (max-width: 640px) {
  button.button {
    width: 100%;
    max-width: 100%;
  }
}
