.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ffffff;
  white-space: nowrap;
}

.hr {
  height: 4px;
  width: 100%;
  background-color: #99c4dd;
  margin: 0;
  border: 0;
}

.content {
  background-color: #ffffff;
  max-width: 640px;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.children {
  margin-top: 1.75rem;
}

a.backLink {
  margin-top: 2.75rem;
  text-decoration: none;
  font-weight: bold;
}

a.backLink svg.backLinkIcon {
  margin-right: 0.2rem;
}

a.backLink:hover svg.backLinkIcon {
  margin-right: 0.2rem;
}

@media only screen and (max-width: 640px) {
  .header {
    white-space: normal;
  }
}
