.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--a-spacing-4) 0 0 0;
}

.header {
  padding-bottom: 0.5rem;
  background-color: #ffffff;
}

.headerActions {
  flex-direction: row-reverse;
  padding-bottom: 1.5rem;
}

.content {
  background-color: #ffffff;
  max-width: 640px;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mainContent {
  display: flex;
  flex-direction: row;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.mainColumn {
  flex-direction: column;
  max-width: 640px;
  width: 100%;
}

a.backLink {
  text-decoration: none;
  font-weight: bold;
}

a.backLink svg.backLinkIcon {
  margin-right: 0.2rem;
}

a.backLink:hover svg.backLinkIcon {
  margin-right: 0.2rem;
}

@media only screen and (max-width: 640px) {
  .header {
    white-space: normal;
  }
}
