.heading {
  margin-top: var(--a-spacing-24);
  @media only screen and (max-width: 767px) {
    margin-top: var(--a-spacing-0);
  }
}

.linkList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
}

.linkCard {
  border: '1px solid var(--a-border-subtle)',
}

.linkCard svg {
  color: var(--a-surface-action);
}

.linkCard:hover {
  background-color: var(--a-surface-action-subtle);
  border-color: var(--a-surface-action-subtle);
}

.linkCard:hover .linkCardTitle a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: .15625rem;
}

.linkCardTitle {
  color: var(--a-surface-action); 
  font-size: var(--a-font-size-18);
  font-weight: 400;
}

.linkCardTitle a {
  text-decoration: none;
}