@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}


.form-results{
}

.form-results a{
  background-color: #F1F1F1;
  margin-bottom: 1rem;
}

.form-results a:hover{
  background-color: #E6F0FF;
}

.section{
  margin-bottom: 2rem;
}

.clickable{
  cursor: pointer;
}
