@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.button-group {
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

button:first-child {
  margin-right: 1rem !important;
}
