name: Build and push Docker container
on:
  workflow_call:
    outputs:
      image:
        description: 'The docker image'
        value: ${{ jobs.build-and-push.outputs.image }}
    inputs:
      environment:
        required: true
        type: string

jobs:
  build-and-push:
    name: 'Build'
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'read'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com/
          scope: '@navikt'
      - name: 'install dependencies'
        run: yarn install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set environment variables
        run: cp .env.ci.${{ inputs.environment }} .env
      - name: 'Build application'
        run: yarn build
      - name: Build and push Docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: skjemadigitalisering
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          image_suffix: ${{ inputs.environment }}
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
